/* .progress {
    height: 600px;
    width: 300px;
    background-color:chartreuse; 
} 

.progressDone {
    height: 600px;
    background-color: coral;
    width: 100px;
} */

/* .welcome{
    background-color: white;
    padding: 30px;
    color:rgb(255, 255, 255);
} */
